
* { box-sizing: border-box;
    margin: 0;
    padding: 0;
    @import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito&display=swap');
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif
}

body {
    background-color: black;
}

img {
    width: 100%;
    object-fit: fill;
}

.logo-header{
    object-fit: fill;
    width: 100px;
    height: 100px;
    align-items: center;
    transition-duration: .3s;

}

.logo-header:hover {
    transform: scale(1.5);
}

.logo-footer{
    object-fit: fill;
    width: 50px;
    height: 50px;
    transition-duration: .3s;
}

.logo-footer:hover{
    transform: scale(1.1);

}

/* Estilos del Header */

header {
    margin-bottom: 1rem;
    text-align: center;
}

.barraheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.conteniendo {
    width: 100%;
    
}

h1 { color: rgb(133, 127, 127);
    text-decoration: underline;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 5px;
    text-shadow: 1px 1px 2px rgb(133, 127, 127);

}

.ul-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.naveg {
    font-size: 10px;
    text-decoration: none;
    color: blueviolet;
}
.naveg:hover {
    text-decoration: underline;

}

/* Estilos del Main */

.presentacion {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
    
}

.imgcontainer {
    width: 40%;
    object-fit: fill;
    flex: 1;
}




.textopresen {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(133, 127, 127);
    padding: 0 5px 0 5px;
}

.h2-style {
    color: rgb(133, 127, 127);
    text-decoration: underline;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 2px;
    text-shadow: 1px 1px 2px rgb(133, 127, 127);


}

.claseh2 {
    color: rgb(133, 127, 127);
    text-decoration: underline;
    font-size: 1rem;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px rgb(133, 127, 127);

}

.p-style {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    text-align: justify;
    margin-bottom: 10px;
    padding: 10px;

}

.titulo-categoria {
    color: rgb(133, 127, 127);
    text-decoration: underline;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 10px;
}

.mati-size {
    font-size: 1rem;

}

.categoria-linea {
    color: black;
    font-size: 0.5rem;
    text-decoration: none;
    text-align: center;
    margin: 10px;
    transition-duration: .3s;
        
}

.categoria-linea:hover {
    background-color: rgb(46, 25, 66);
    
}

.listado-categorias {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-imagenes{
    margin-top: 1rem;
    width: 100%;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

}

.imagen-categoria {
    width: 60%;
    height: 200px;
    object-fit: fill;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.foto-auri {
    width: 100%;
    height: 100%;
    transition-duration: .3s;
}

.foto-auri:hover {
    transform: scale(.8) rotate(8deg);
}

/* Estilos del Footer */

footer {
    height: 20%;
    width: 100%;
    color: rgb(133, 127, 127);
    margin: 5px;
}


.titulo-footer {
    
    font-size: 0.8rem;
    text-decoration: underline;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgb(133, 127, 127);
}

.footer-container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
      
}


.listado-container {
    display: flex;
    justify-content: space-between;
    
}


.nav-footer { 
    
    list-style-type: none;
    display: inline;
    padding-right: 10px;
    
}

.nav-footer-lista {
    color: blueviolet;
    text-decoration: none;
    font-size: 10px;

}

.listado-container, ul {
    margin-left: -2rem;
    
}

/* Estilos Pagina Marcas */


.marca-main {
    background-color: white;
}

.marca-h2 {
    text-align: center;
    color: rgb(133, 127, 127);
    text-decoration: underline;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 2px;
    text-shadow: 1px 1px 2px rgb(133, 127, 127);

}



.item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    border: solid 1px rgb(255, 255, 255);
    transition-duration: .3s;


}

.item-hover:hover {
    transform: scale(.8) rotate(8deg);
    filter: opacity(0.9);
    transform: scale(1.04);
}

.imagen-marca {
    transition-duration: .3s;
    
}

.imagen-marca:hover {
    transform: scale(.8)

}


.grid-marcas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
}



@media only screen and (max-width: 480px) {
 
         h1 { font-size: 14px;
         }
     
         .h2-style {
             font-size: 14px;
         }
     
         .claseh2 {
             font-size: 10px;
            margin: 10px
         }
     
         .p-style {
             font-size: 10px;
     
         }
     
         .categoria-linea {
             font-size: 10px;
     
         }
     
         .titulo-footer {
             font-size: 9px;
     
         }
     
         .nav-footer-lista {
             font-size: 9px;
     
     
         }

         



}
@media only screen and (min-width: 481px) and (max-width: 978px) {
  
    h1 { font-size: 20px;
    }

    .h2-style {
        font-size: 16px;
    }

    .claseh2 {
        font-size: 10px;
        margin: 16px;
    }

    .p-style {
        font-size: 10px;

    }

    .categoria-linea {
        font-size: 10px;

    }

    .titulo-footer {
        font-size: 10px;

    }

    .nav-footer-lista {
        font-size: 10px;


    }


}

@media only screen and (min-width: 978px) {
   
    h1 { font-size: 24px;
    }

    .h2-style {
        font-size: 24px;
    }

    .claseh2 {
        font-size: 20px;
        margin: 16px;
    }

    .p-style {
        font-size: 16px;

    }

    .categoria-linea {
        font-size: 16px;

    }

    .titulo-footer {
        font-size: 18px;

    }

    .nav-footer-lista {
        font-size: 18px;


    }
         
}

