$principal: black;
$color-titulos: rgb(133, 127, 127);
$color-footer: blueviolet;
$color-texto: white;
$fuente: arial;
$text-shadow: 1px 1px 2px rgb(133, 127, 127);
$box-shadow: 0px 0px 10px 3px grey;
