@import "../base/mixins";
@import "../base/variables";

.contact-form {
	background: rgba(0,0,0, .6);
	color: $color-texto;
	margin-top: 2rem;
	margin-bottom: 1rem;
	padding: 20px;
	box-shadow: $box-shadow;

	.h2-contacto {
		color: rgb(133, 127, 127);
		text-decoration: underline;
		text-shadow: $text-shadow;
		
	}

}

