@import "../base/mixins";
@import "../base/variables";

/* Estilos Logo */
img {
	@include img;
}
.logo-header {
	object-fit: fill;
	width: 100px;
	height: 100px;
	align-items: center;
	transition-duration: .3s;
	&:hover {
		transform: scale(1.2);
	}
}
.logo-footer {
	object-fit: fill;
	width: 50px;
	height: 50px;
	transition-duration: .3s;
	&:hover {
		transform: scale(1.1);
    }
}