@import "../base/mixins";
@import "../base/variables";
@import "../base/maps";

/* Estilos Nosotros */

.p-nosotros {
	color: map-get($nosotros, bg-nosotros);
	font-size: .9rem;
	text-decoration: map-get($nosotros, decoration);
	text-align: map-get($nosotros, align);
}
.foto-nosotros {
	margin-bottom: map-get($nosotros, margin-abajo);
	transition-duration: .3s;
	&:hover {
		transform: scale(.8) rotate(8deg);
	}
}
